/* ///////// Header /////////*/
header{
	background-color: #830fa3;
	height: 100% ;
	width: 100%;
}

.text {
	display: inline-flex;
	justify-content: center;
	width: 100%;
	align-items: center;
}

.Coders-text {
	font-size: 300%;
	margin-right: 20px;
}

.Dating-text {
	margin-left: 10%;
	width: 100%;
	font-size: 300%;
}

.Welcome {
	background: url(../img/welcome.jpg)50% 50%;
	background-size: cover;
    margin-top: 0px;
    height: 500px;
    border: 2px solid #830fa3;
}

.Welcome p {
	font-size: 600%;
	text-align: center;
	color: white;
}

/*//////////////Contant///////////*/

.Persons img{
	width: 170px;
	height: 170px;
}

.Persons{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 180%;
}

.person0 {
	padding-top: 20px;
	display: flex;
	justify-content: space-around;
	background-color: #d699ff; 
	width: 620px;
	height: 230px;
	margin: 20px 10px;
}

.person0 p{
	align-self: flex-end;
	margin-bottom: 10px;
}

.person0 button {
	width: 100px;
	height: 50px;
	background-image: linear-gradient(#830fa3,#d699ff);
	border-radius: 20px;
	align-self: flex-end;
	margin-bottom: 10px;
	font-size: 25px;
}

.person1 {
	padding-top: 20px;
	display: flex;
	justify-content: space-around;
	background-color: #d699ff; 
	width: 620px;
	height: 230px;
	margin: 20px 10px;
}

.person1 button {
	width: 100px;
	height: 50px;
	font-size: 25px;
	background-image: linear-gradient(#830fa3,#d699ff);
	border-radius: 20px;
	align-self: flex-end;
	margin-bottom: 10px;
}

.person1 p{
	align-self: flex-end;
	margin-bottom: 10px;
}

.person2 {
	padding-top: 20px;
	display: flex;
	justify-content: space-around;
	background-color: #d699ff; 
	width: 620px;
	height: 230px;
	margin: 20px 10px;
}

.person2 button {
	width: 100px;
	height: 50px;
	background-image: linear-gradient(#830fa3,#d699ff);
	border-radius: 20px;
	align-self: flex-end;
	margin-bottom: 10px;
	font-size: 25px;
}

.person2 p{
	align-self: flex-end;
	margin-bottom: 10px;
}

.person3 {
	padding-top: 20px;
	display: flex;
	justify-content: space-around;
	background-color: #d699ff; 
	width: 620px;
	height: 230px;
	margin: 20px 10px;
}

.person3 button {
	width: 100px;
	height: 50px;
	align-self: flex-end;
	margin-bottom: 10px;
	background-image: linear-gradient(#830fa3,#d699ff);
	border-radius: 20px;
	font-size: 25px;
}

.person3 p{
	align-self: flex-end;
	margin-bottom: 10px;
}

.Persons #heartmini{
	align-self: flex-end;
	width: 35px;
	height: 35px;
	margin-bottom: 10px;
}

/* //////////////// footer ////////////*/
footer {
	display: flex;
}

footer p{
	display: flex;
	justify-content: center;

	font-size: 250%;
	width: 100%;
}

footer div{
	width: 100%;
	display: inline-flex;
}

.sort-button{
	 text-align: center;
	  font-size:250%;
	  background-image:linear-gradient(red,white);
	  border-radius:30%;
	  width:100%;
}

